{
  "root": true,
  "env": {
    "browser": false
  },
  "extends": ["viki-ts", "plugin:prettier/recommended"],
  "rules": {
    "camelcase": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}
